$color-primary-blue: #505f98;
$color-primary: #fff;
$color-light-grey: #E5E7FA;
$color-light-1: #3F3356;
$color-secondary-blue: #A5AFFB;
$color-dark: #000;


ul {
  margin: 0px;
  padding: 1rem 2rem;
  list-style: none;
  display: flex;

  @media screen and (min-width: 900px) {
    ul {
      padding: 1rem 2rem;
    }
    @supports (display: flex) {
      @media screen and (min-width: 900px) {
        ul {
          display: flex;
        }
      }
    }
  }
  

  li {
    align-items: center;
    width: 10rem;
    background-color: $color-primary;
    font-size: 1rem;
    justify-content: space-between;

  }

  a {
    text-decoration: none;
    color: $color-primary-blue;
  }
}


.logo-img {
  height: 2rem;
  width: 4.5rem;
  margin-left: 8rem;
  margin-top: 1rem;
}

.inside__nav {
  margin-left: 8rem;
  margin-top: 1.5rem;
}

