<nav>
    <ul>
      <li class="p-4"><a [routerLink]="['/arenas']">Home</a></li>
      <li class="p-4"><a [routerLink]="['/vacancies']">Vacancies</a></li>
      <li class="p-4"><a [routerLink]="['/traffics']" style="font-size: 1rem">Traffic Updates</a></li>
      <div>
        <img src="/assets/img/logo.png" alt="" class="logo-img">
      </div>
        <li class="inside__nav"><a [routerLink]="['/teasers']">Brain Teasers</a></li>
        <li class="p-4"><a [routerLink]="['/blog']">Articles</a></li>
        <li class="p-4"><a [routerLink]="['/contacts']">Contact</a></li>
    </ul>
   </nav>

