<div class="footer-main-div">
  <div class="row">
    <div class="col-1-of-2">
     <p>© MD 2019</p>
    </div>
    <div class="col-1-of-2">
      <img src="/assets/img/logo.png" alt="" class="images">
    </div>
  </div>
  <div class="end">
    <ul>
      <li class="p-4"><a href="#">Home</a></li>
      <li class="p-4"><a href="#">Article</a></li>
      <li class="p-4"><a href="#">Contact</a></li>
      <li class="side-right"><img src="/assets/img/fb.png" alt="" class="social__image"></li>
      <li class="p-4"><img src="/assets/img/tw.png" alt="" class="social__image"></li>
    </ul>
  </div>
</div>
