<div class="container">
  <h1 class="heading__primary">Brain Teasers</h1>
  <img  src="/assets/img/arenas12.svg" alt="" class="images">
</div>



<section class="section-plans">
   <div class="plan-box">
     <div class="container">
      <ul>
        <li><a href="#" class="line-page">5 Answers</a></li>
        <li><a href="#" class="indent">posted an hour ago</a></li>
      </ul>
      <h2 class="heading__secondary">Riddle</h2>
      <p class="long__copy">Two fathers and two sons have to share three apples, how is that possible?</p>
          <ul class="universal">
            <li class="uviversal__rick"><a href="#" class="btn btn-ghost">Answer It</a></li>
            <li class="universal__rick"><a href="#" class="btn btn-link">View Answers</a></li>
          </ul>
     </div>
   </div>
   <section class="section-plans">
    <div class="plan-box">
      <div class="container">
       <ul>
         <li><a href="#" class="line-page">5 Answers</a></li>
         <li><a href="#" class="indent">posted 2 hours ago</a></li>
       </ul>
       <h2 class="heading__secondary">Riddle</h2>
       <p class="long__copy">Two fathers and two sons have to share three apples, how is that possible?</p>
           <ul class="universal">
             <li class="uviversal__rick"><a href="#" class="btn btn-ghost">Answer It</a></li>
             <li class="universal__rick"><a href="#" class="btn btn-link" style="margin-left: 2rem;">View Answers</a></li>
           </ul>
      </div>
        <figure class="review">
           <figcaption class="review__user">
              <img src="/assets/img/arenas8.jpg" alt="" class="review__photo">
              <div class="review__user-box">
                 <p class="review__user-name">Hauwa Ejukoriem</p>
                 <p class="review__user-date">..writes</p>
                 <p class="review__user-copy">Lorem ipsum dolor sit amet consectetur, doloribus nam consequuntur  et eligendi excepturi.</p>
              </div>
              <div class="review__rating">1 minutes ago</div>
           </figcaption>
        </figure>
        <figure class="review">
          <figcaption class="review__user">
             <img src="/assets/img/arenas8.jpg" alt="" class="review__photo">
             <div class="review__user-box">
                <p class="review__user-name">Hauwa Ejukoriem</p>
                <p class="review__user-date">..writes</p>
                <p class="review__user-copy">Lorem ipsum dolor sit amet consectetu. doloribus beatae consequatur perspiciatis quidem!</p>
             </div>
             <div class="review__rating">1 minutes ago</div>
          </figcaption>
       </figure>
       <div class="container py-5">
          <div class="media">
            <img src="/assets/img/arenas20.svg" alt="" class="side-image">
            <div class="media-body">
              <div class="row">
                <div class="col-sm-9">
                  <form>
                    <div class="form-group">
                       <input class="form-control" type="text" id="full name" placeholder="full name">
                    </div>
                    <div class="form-group">
                      <textarea class="form-control" id="message" rows="3" type="text" placeholder="Your answer..."></textarea>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
       </div>
    </div>
 </section>
</section>



<section class="section-features">
  <div class="container">
      <h3 class="heading__tertiary">Subscribe to our newsletter</h3>
      <p>Mauris sollicitudin, magna nec portitor efficitur, quam ex.</p>
  </div>
  <form class="form-inline" style="margin-left: 22rem;">
    <input class="form-control mr-sm-2" type="sign up" placeholder="Email Address" aria-label="Email Address">
    <a href="#"><button  class="btn btn-outline-dark my-2 my-sm-0" type="Subscribe" style="color: #fff; border-radius: 1px solid white;">Subscribe</button></a>
  </form>
</section>

