<div class="container">
  <h1 class="heading__primary">Brain Teasers</h1>
  <img  src="/assets/img/arenas12.svg" alt="" class="images">
</div>


<section class="section-plans" [ngClass]="isSelected(brainTeaser.id) ? 'shadow' : null" *ngFor="let brainTeaser of brainTeasers" (click)="toggleSelected(brainTeaser.id)">
  <div class="plan-box">
    <div class="container">
      <div>
        <ul>
          <li><a href="#" class="line-page"  *ngIf="brainTeaser.brainTeaserAnswers?.length > 0">{{  brainTeaser.brainTeaserAnswers.length }} Answers</a></li>
          <li><a href="#" class="indent">posted {{ brainTeaser.dateCreated | date: "fullDate" }}</a></li>
        </ul>
        <h2 class="heading__secondary">Riddle</h2>
        <p class="long__copy">{{ brainTeaser.riddle }}</p>
           <ul class="universal">
              <li class="uviversal__rick"><a href="#" class="btn btn-ghost" (click)="toggleView('answer')">Answer It</a></li>
              <li class="universal__rick"><a href="#"  class="btn btn-link"  (click)="toggleView('answers')">View Answers</a></li>
            </ul>
      </div>
    </div>
    <figure class="review" *ngIf="isSelected(brainTeaser.id)">
      <figcaption class="review__user" *ngIf="view === 'answers'">
         <img src="/assets/img/arenas8.jpg" alt="" class="review__photo">
         <div class="review__user-box" *ngFor="let winner of brainTeaser.brainTeaserWinners">
            <p class="review__user-name" *ngIf="winner.isDisplayed">{{ winner.userName }}</p>
            <p class="review__user-date">..writes</p>
            <p class="review__user-copy">{{ winner.answer }}</p>
         </div>
         <div *ngFor="let winner of brainTeaser.brainTeaserWinners">
          <div class="review__rating" *ngIf="winner.isDisplayed">{{ winner.dateCreated | date: "fullDate" }}</div>
         </div>
      </figcaption>
   </figure>
   <div class="container py-5" *ngIf="view === 'answer'">
     <div class="media">
      <img src="/assets/img/arenas20.svg" alt="" class="side-image">
      <div class="media-body">
        <div class="row">
          <div class="col-sm-9">
            <form (ngSubmit)="submitAnswer(brainTeaser.id)">
              <div class="form-group">
                 <input class="form-control" type="text" name="name" id="full name" placeholder="full name" [(ngModel)]="name">
              </div>
              <div class="form-group">
                <textarea class="form-control" id="message" name="body" rows="3" type="text" placeholder="Your answer..." [(ngModel)]="body"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
     </div>
   </div>
  </div>
</section>



<section class="section-features">
  <div class="container">
      <h3 class="heading__tertiary">Subscribe to our newsletter</h3>
      <p>Mauris sollicitudin, magna nec portitor efficitur, quam ex.</p>
  </div>
  <form class="form-inline" style="margin-left: 22rem;">
    <input class="form-control mr-sm-2" type="sign up" placeholder="Email Address" aria-label="Email Address">
    <a href="#"><button  class="btn btn-outline-dark my-2 my-sm-0" type="Subscribe" style="color: #fff; border-radius: 1px solid white;">Subscribe</button></a>
  </form>
</section>

