<div class="row">
  <div class="col-1-of-2">
    <h1 class="heading__primary">
      Feel free to get in
      <br class="hidden-xs">
      touch with us
    </h1>
  </div>
  <div class="col-1-of-2">
    <img src="/assets/img/arenas3.svg" alt="" class="contact__image">
  </div>
</div>

<div class="row">
  <div class="col-1-of-2">
     <img src="/assets/img/arenas9.svg" alt="" class="images">
  </div>
  <div class="col-1-of-2">
    <div class="plan-box">
     <a><img src="/assets/img/mail2.svg" alt="" class="span__image"><span class="heading__tertiary">Contact Us</span></a>
     <form #contactPost="ngForm" action="#" class="form" (ngSubmit)="onSubmit()">
       <div class="form__group">
         <input type="text" class="form__input" name="name" [(ngModel)]="contact.userName" placeholder="Your name"  required>
           <label for="name" class="form__label">Full name</label>
       </div>
       <div class="form__group">
        <input type="email" name="email" [(ngModel)]="contact.email" class="form__input"  placeholder="Email address"  required>
        <label for="email" class="form__label">Email address</label>
      </div>
      <div class="form__group">
        <input type="text" name="body" [(ngModel)]="contact.message" class="form__input" placeholder="Message"   required>
        <label for="email" class="form__label">Messages</label>
      </div>
      <div class="form__group">
        <button  class="btn btn--blue" (click)="showToasterSuccess()">Send Message &rarr;</button>
      </div>
     </form>
    </div>
  </div>
</div>


<section class="section-features">
   <div class="row">
     <div class="col-1-of-3">
       <img src="/assets/img/location2.svg" alt="" class="icon__image">
       <h1 class="heading__secondary">Address</h1>
       <p class="long__size">No 3 Idowu Taylor, Victoria Island Lagos</p>
     </div>
     <div class="col-1-of-3">
       <img src="/assets/img/mail2.svg" alt="" class="icon__image">
       <h1 class="heading__secondary">Email Address</h1>
       <p class="long__size">
         www.corporatearenas.com
         <br class="hidden-xs">
         corporateworldarena@gmail.com
       </p>
     </div>
     <div class="col-1-of-3">
       <img src="/assets/img/phone.svg" alt="" class="icon__image">
       <h1 class="heading__secondary">Phone Number</h1>
       <p class="long__size">+(234)808 198 7023</p>
     </div>
   </div>
</section>
