<div class="container">
   <h1 class="heading__primary">Create Traffic Update</h1>

   <div  class="px-5 answer-box row d-flex">
    <img src="/assets/img/box.svg" alt="" class="img-fluid d-none d-md-block mr-3">
    <form (ngSubmit)="submitTrafficUpdate()">
      <div class="form-group">
        <input type="text" class="form-control"  placeholder="title" [(ngModel)]="title"  name="name" style="margin-left: 10rem;"/>
      </div>
      <div class="form-group">
        <textarea class="form-control" id="" row="7" placeholder="body" [(ngModel)]="content"  name="body" style="margin-left: 10rem;"></textarea>
      </div>
      <button type="submit"  class="btn btn-primary btn-large" style="margin-left: 10rem;">Submit</button>
      </form>
   </div>
</div>
