<div class="container">
  <h1 class="heading__primary">Brain Teasers</h1>
  <img  src="/assets/img/arenas12.svg" alt="" class="images">
</div>


<section class="section-plans" [ngClass]="isSelected(question.id) ? 'shadow' : null" *ngFor="let question of questions" (click)="toggleSelected(question.id)">
  <div class="plan-box">
    <div class="container">
      <div>
        <ul>
          <li><a href="#" class="line-page" *ngIf="question.questionOptions?.length > 1">{{ question.questionOptions.length }} option</a></li>
          <li><a href="#" class="indent">Posted {{ question.createdOn | date: "fullDate" }}</a></li>
        </ul>
        <h2 class="heading__secondary">Question</h2>
        <p class="long__copy">{{ question.content}}</p>
           <ul class="universal">
              <li class="uviversal__rick"><a href="#" class="btn btn-ghost">view Answers</a></li>
              <li class="universal__rick"><a href="#"  class="btn btn-link">View Winners</a></li>
            </ul>
      </div>
    </div>
    <div class="container py-5" *ngIf="isSelected(question.id)">
      <div class="media-body" *ngIf="view === 'answers'">
        <img src="/assets/img/arenas20.svg" alt="" class="side-image">
           <div class="row" *ngFor="let option of question.questionOptions">
            <div class="col-sm-9">
             <form>
               <fieldset class="form-group">
                <div class="form-check">
                  <label class="form-label-check" style="color: #000;">
                     <input type="radio" class="form-check-input" name="" value="">
                     {{ question.questionOptions }}
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-label-check" style="color: #000;">
                     <input type="radio" class="form-check-input" name="" value="">
                     Washignton dc
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-label-check" style="color: #000;">
                     <input type="radio" class="form-check-input" name="" value="">
                     Florida
                  </label>
                </div>
             </fieldset>
               <button class="btn btn-info mt-5">Submit</button>
             </form>
            </div>
           </div>
      </div>
    </div>
  </div>
</section>
