$font-primary: "Montserrat", sans-serif;
$color-light-grey: #E5E7FA;


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 1rem;

  @media (min-width: 576px) {
    // Small devices (landscape phones)
  }

  @media (min-width: 768px) {
    // Medium devices (tablets)
  }

  @media (min-width: 992px) {
    // Large devices (desktops)
  }

  @media (min-width: 1200px) {
    // Extra large devices (large desktops)
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
}

body {
  font-family: $font-primary;
  color: $color-light-grey;
  font-weight: 300;
  line-height: 1.6;
}



