<div class="container">
  <h1 class="heading__primary">Create Question</h1>
  <img  src="/assets/img/arenas12.svg" alt="" class="images">
</div>


<section class="section-plans">
  <div class="plan-box">
    <div class="container">
       <h3 class="display-4 text-muted" style="font-size: 20px; color: #000;">Create A New Question</h3>
       <div class="row">
         <div class="col-sm-9">
           <form (ngSubmit)="submitQuestion()">
             <div class="form-group">
               <label for="question" style="color: #000;">Question Content</label>
               <input class="form-control" type="text" id="name" placeholder="Enter a new question" [(ngModel)]="content" name="content">
             </div>
             <div class="form-group">
               <small class="form-text text-muted" id="helpFile">Maximum page size in three yottabytes.</small>
             </div>
             <button type="submit" class="btn btn-success">Submit</button>
           </form>
         </div>
         <a [routerLink]="['/Question-list']" class="btn btn-info mt-5" style="margin-left: 20rem;  margin-top: 2rem;">Load more</a>
       </div>
    </div>
  </div>
</section>





